*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
/*--- Bigger Screens --*/
@media screen and (min-width: 768px) {
    .main-header,
    .container,
    .main-nav {
        width: 90%;
        margin: 0 auto;
        display: flex;

    }
    .main-header{
        flex-direction:column;
        align-items:center;
  }
    .main-nav{
        justify-content: space-around;
    }

}
@media screen and (min-width: 1024px){  
    .main-header,
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .main-header{
        flex-direction:row;
        justify-content:space-between;
}
}

